.action-card {
  display: grid;
  gap: 3px 1em;
  align-items: center;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3, 1fr);

  &__thumbnail {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 1px solid;
    grid-row: 1 / -1;
  }

  &__dish,
  &__time {
    gap: 1.3em;
    display: flex;
  }
}
