.action-card {
  display: grid;
  gap: 3px 1em;
  align-items: center;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3, 1fr);

  &__thumbnail {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid;
    grid-row: 1 / -1;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgba($color: #000000, $alpha: 0.7);
  }

  h2 {
    font-size: 1.4rem;
    color: rgba($color: #000000, $alpha: 0.7);
  }

  &__dish,
  &__time {
    gap: 1.3em;
    display: flex;
  }
}
