html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px
  font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  padding: 4em;
  min-height: 100vh;
}

main {
  display: grid;
  gap: 5em;
  grid-template-columns: 1fr 1fr;
}
